%ul
  %li.label
    %div.label
      %span= password_field[:label]
  %li.value
    %div.value
      = password_field_tag password_field[:key], password_field[:value], :size => 50, :maxlength => password_field[:maxlength], :class => "text"