%ul
  %li.label
    %div.label
      %span= text_field[:label]
  %li.value
    %div.value
      = text_field_tag text_field[:key], text_field[:value], :size => 50, :maxlength => text_field[:maxlength], :class => "text"