
= link_to (render :partial => "button_content",
                  :object => {:icon => button[:icon],
                              :text => button[:text]}),
          button[:path],
          :method => button[:method],
          :title => button[:title],
          :class => button[:class]
