
= link_to (render :partial => "button_content",
                  :object => {:icon => button[:icon],
                              :text => button[:text]}),
          button[:path],
          :title => button[:title],
          :id => button[:id],
          :class => button[:class]
