%ul
  %li
    = link_to "SourceControl", 
              source_files_path,
              :class => "crumb not_last uber",
              :title => "SourceControl"
  - if folder = @folder
    - folders = [folder]
    - while parent = folder.parent
      - folders << parent
      - folder = parent
    - folders.reverse.each do |folder|
      %li / 
      %li
        = link_to truncate("#{folder.name}", :length => 20), 
                  hash_for_source_files_path.merge(:folder_id => folder.id),
                  :class => "crumb#{" not_last" unless folder == folders.first}",
                  :title => folder.name
    