:javascript
  function refresh_source_files(){
    $.getJSON("#{url_for index_refresh[:path]}", 
              function(data){
                if (data.locked)
                  $.each(data.locked, function(){
                    if ($("li." + this.id).hasClass("unlocked")){
                      $("a.lock_icon." + this.id).attr("title", this.status)
                      $("li." + this.id).addClass("locked")
                      $("li." + this.id).removeClass("unlocked")
                      $("li.code." + this.id).find("span").html(this.status)
                      $("li." + this.id).effect("highlight", {color:"#4183C4"}, 2000)
                    }
                  })
                if (data.unlocked)
                  $.each(data.unlocked, function(){
                    if ($("li." + this.id).hasClass("locked")){
                      $("li." + this.id).addClass("unlocked")
                      $("li." + this.id).removeClass("locked")
                      $("li.code." + this.id).find("span").html(this.code)
                      $("li.age." + this.id).find("span").html(this.status)
                      $("li.message." + this.id).find("span").html(this.message)
                      $("li." + this.id).effect("highlight", {color:"#4183C4"}, 2000)
                    }
                  })
              })
  }
  $(document).ready(function(){
    var interval = setInterval('refresh_source_files()',
                               2000)
  })