- parameters = {}
- parameters[:folder_id] = @source_file.folder.andand.id
%ul
  %li.toolbar_button
    = render :partial => "button", |
             :object => {:text => "Back",
                         :path => source_files_path,
                         :params => parameters,
                         :icon => "back.png",
                         :title => "Click here to go back to the containing folder."}
  %li.toolbar_button
    = render :partial => "toolbar_button", |
             :object => {:text => "Add Folder",
                         :path => folder_path,
                         :method => :post,
                         :params => {:parent_id => @folder.andand.id},
                         :id => "add_folder",
                         :icon => "add_folder.png",
                         :title => "Click here to add a source folder.",
                         :last => true}