= stylesheet_link_tag 'source_files/local_style'
%div#toolbar
  = render :partial => "buttons"
%div#source_file
  %ul
    %li.file_name
      = @source_file.path_name
    %li.code
      = @source_file.code