= stylesheet_link_tag 'source_files/local_style'
%div#toolbar
  = render :partial => "show_buttons"
%div#source_file
  %ul
    %li.header{:title => (@source_file.path_name + @source_file.name)}
      %span= @source_file.path_name + @source_file.name
    %li.content.code
      %pre= @source_file.code